grpcio
grpcio-tools
grpcio-health-checking
protobuf
onnxruntime-gpu
transformers
scikit-learn
huggingface-hub
pydantic
pydantic-settings
structlog
numpy
prometheus-client
pytest
pytest-mock
pytest-asyncio
coverage
pytest-cov
circuitbreaker
PyJWT
