Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
build
dist
.vercel
.env
.env.*
coverage
test
!test/load/mock-server
.pytest_cache
.vscode
.idea
*.log

# Ignore host generated prisma client
lib/shared/generated/prisma
