@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.cutpad {
    padding-top: 3px !important;
}
.seriffont {
    font-family: "Merriweather" !important;
    letter-spacing: 0.5px;
    font-size: 21px;
}

@media (max-width: 767px) {
    .seriffont {
        font-size: 18px;
    }
}


.seriffont1 {
    font-family: "Merriweather" !important;
    letter-spacing: 0.5px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .seriffont1 {
        font-size: 13px;
    }
}

.seriffont2 {
    font-family: "Merriweather" !important;
    letter-spacing: 0.5px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .seriffont2 {
        font-size: 11px;
    }
}
