# Environment files
.env
.env.*
**/.env
**/.env.*

# Python
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.class
infra/k8s/envs/.env.dev
infra/k8s/envs/.env.prod

# Helm
infra/k8s/charts/*/charts/
