.git
.gitignore
.github
.vscode
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
node_modules
/node_modules
apps//node_modules
packages/*/node_modules
dist
build
coverage
.turbo
.next
apps/*/.next
npm-debug.log
pnpm-debug.log
yarn-error.log
*.log
.env
.env.*
!.env.example
infra
services
venv
.venv
pycache
*.pyc
*.pyo
*.pyd
bin
obj
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml
*.md
LICENSE
setup-cluster.sh
build-and-push.sh